/*light theme*/
$text-color-light: hsl(200, 15%, 8%);
$bg-color-light: hsl(0, 0%, 98%);
$ui-color-base-light: hsl(0, 0%, 100%);

/*dark theme*/
$text-color-dark: hsl(0, 0%, 100%);
$bg-color-dark: hsl(207, 26%, 17%);
$ui-color-base-dark: hsl(209, 23%, 22%);

$red-error: #d80d0d;
$selected-light: #c5c4cf5c;
$selected-dark: #374754;
